/*
 * State rules are ways to describe how our modules or layouts will look when in a particular state. 
 * Is it hidden or expanded? Is it active or inactive? They are about describing how a module or layout
 * looks on screens that are smaller or bigger. They are also about describing how a module might look 
 * in different views like the home page or the inside page.
 * Find out more about SMACSS here http://smacss.com/
 *
 */

.side-nav,
.widget ul {
	a:hover,
	a:active {
		color: $side-nav-link-color-active;
	}
}

footer .tag-links,
.edit-link {
	a:hover,
	a:active {
		background: darken( $secondary-color, 5% );
	}
}

.panel.callout {
	a:hover,
	a:active {
		color: darken( $primary-color, 50% );
	}
	.edit-link {
		a:hover,
		a:active {
			background: lighten( $primary-color, 45% );
		}
	}
}

@media #{$medium-up} {

	blockquote,
	.wp-caption {
		&.alignright,
		&.alignleft {
			width: 47%;
		}
		&.alignright {
			margin: $alignright-margin;
		}
	}
	
	img,
	.wp-caption {
		&.alignleft {
			margin: $alignleft-margin;
			width: 47%;
		}
		&.alignright {
			margin: $alignright-margin;
			width: 47%;
		}
	}

}