/*
 * Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.
 * Find out more about SMACSS here http://smacss.com/
 *
 */

#{headings(all)} {
	font-family: "Ubuntu";
}

.vcard {
	&.author {
		padding:0px;
		border:none;
		.fn {
			font-size: inherit;
		}
	}
}


.widget {
	ul {
		@include side-nav();
	}
}