/*
 * Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.
 * Find out more about SMACSS here http://smacss.com/
 *
 */

.site-title {
	font-size: emCalc(55);
}

input[type="submit"] {
	@include button( $radius: true, $is-input: true );
}

.vcard {
	&.author {
		padding:0px;
		border:none;
		.fn {
			font-size: inherit;
		}
	}
}

.widget {
	ul {
		@include side-nav();
	}
}

.tag-links,
.edit-link {
	a {
		@include label( $bg: $secondary-color, $text-size: $label-font-sizing, $padding: $label-padding, $radius: $label-radius );
		margin: 0 10px 0 0;
	}
}

.sub-nav {
	dd {
		a {
			&.post-edit-link {
				color: $label-font-color;
			}
		}
	}
}
